a.navbar-brand[b-wtb7566d9f] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-wtb7566d9f] {
    color: #0077cc;
}

.btn-primary[b-wtb7566d9f] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wtb7566d9f],
.nav-pills .show > .nav-link[b-wtb7566d9f] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-wtb7566d9f] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-wtb7566d9f] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wtb7566d9f] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}