<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom box-shadow mb-2">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/Studio404_Logo_NoBackground.png" alt="Logo da Studio 404" height="50" class="d-inline-block me-2">
            <span class="brand-text">Studio 404</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Início</NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="#culture">Cultura</NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="#projects">Projetos</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>