a.navbar-brand {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
}

a.navbar-brand img {
    height: 50px;
    margin: 0;
    vertical-align: middle;
}

.navbar .navbar-nav {
    align-items: center;
}

.navbar-brand .brand-text {
    color: var(--secondary-color);
}

.btn-primary {
    color: #fff000;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff000;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}